<p style="color: red;">Los días que se deben colocar son los días en los que demoró el producto en llegar.</p>

<tr>
  <td>
    <div style="width: 482px;">
      <label>Tipo de equipo:</label>
      <select id="country" [(ngModel)]="selectEquipo" (change)="onChangeTipEquipo()">
        <option *ngFor="let tipEquipo of tipoEquipo" [ngValue]="tipEquipo">{{tipEquipo.descripcion}}</option>
      </select>
    </div>
  </td>
  <td>
    <div *ngIf="isSelect" style="margin-left: 50px;">
      <label>Equipo:</label>
      <select id="state" [(ngModel)]="equipoSelect">
        <option *ngFor="let filter of filteredEquipos" [ngValue]="filter">{{filter.descripcion}}</option>
      </select>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div style="margin-top: 35px;">
      <label>Fecha:</label>
      <input style="margin-left: 47px;" class="calendar" type="date" id="calendar" [(ngModel)]="fechaRegistro">
    </div>
  </td>
  <td>
    <div style="margin-left: 50px;">
      <label>Días:</label>
      <p-inputNumber type="number" id="inputNumber" [(ngModel)]="valorMedido"></p-inputNumber>
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <div style="margin-top: 70px;">
      <p-button (click)="crearHistorial()" icon="pi pi-iconName" label="Crear"></p-button>
    </div>
  </td>
</tr>
